<main>
    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Categories</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(cat => { %>
                     
                        <tr>
                            <td>
                            <img src="<%= cat.image %>">
                            <p><%= cat.name %></p>
                        </td>
                        <td>0<td>
                            <td>
                                <a href="/viewCat/<%= cat._id %>">
                                    <i class='bx' ><b>View &nearr;</b></i>
                                </a>
                            </td>
                        <td>
                            <a href="/edit-cat/<%= cat._id %>">
                                <i class='bx' ><b>Edit &nearr;</b></i>
                            </a>
                        </td>
                        <td>
                            <a href="/delete-cat/<%= cat.id %>">
                            <button>Delete</button>
                        </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>