<main>
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Items</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach(item => { %>
                 
                    <tr>
                        <td>
                        <img src="<%= item.image1 %>">
                        <p><%= item.name %></p>
                    </td>
                    <td>$<%= item.newPrice %></td>
                    <td><%= item.category.name %></td>
                    <td>
                        <a href="">
                            <i class='bx' ><b>View &nearr;</b></i>
                        </a>
                    </td>
                    <td>
                        <a href="/edit-item/<%= item._id %>?_method=PUT">
                            <i class='bx' ><b>Edit &nearr;</b></i>
                        </a>
                    </td>
                    <td>
                        <button onclick="document.getElementById('id01').style.display='block'">Delete</button>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/">
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete your account?</p>

      <div class="clearfix">
        <a href="/itemsAdmin">
        <button type="button" class="cancelbtn">Cancel</button>
    </a>
    <a href="">
        <button type="button" class="deletebtn">Delete</button>
    </a>  
    </div>
    </div>
  </form>
</div>
</main>