<br>
<br>
<br>
      <!-- 
        - #MENU
      -->

      <section class="section menu" aria-label="menu-label" id="menu">
        <div class="container">

          <p class="section-subtitle text-center label-2">Special Selection</p>

          <h2 class="headline-1 section-title text-center"><%= category.name %></h2>

          <% if (items.length > 0) { %>
          <ul class="grid-list">
            <% items.forEach(item => { %>
               
              
              <li>
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="<%= item.image1 %>" width="100" height="100" loading="lazy" alt="image"
                    class="img-cover">
                </figure>

                <div>
                   
                  
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      <a href="#" class="card-title"><%= item.name %></a>
                    </h3>
                    <% if (item.isSeasonal) { %>
                      <span class="badge label-1">Seasonal</span>
                      <% } %>
                      <% if (item.newItem) { %>
                        <span class="badge label-1">New</span>
                      <% } %>

                    <span class="span title-2">$<%= item.newPrice.toFixed(2) %></span>
                  </div>

                  <p class="card-text label-1">
                    <%= item.description %>
                  </p>
                  
                </div>
                
              </div>
            </li>
            <% }) %>

          
          </ul>
          <% } else { %>
            
            
            <p class="menu-text text-center">
              <span class="span">No Item Found</span><span class="span"></span>
            </p>
            
            <a href="/" class="btn btn-primary">
              <span class="text text-1">No Item Found</span>
              
              <span class="text text-2" aria-hidden="true">Back To Home</span>
            </a>
            <% } %>
            
            <img src="/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">
            <img src="/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-3 move-anim">

        </div>
      </section>